$height: 30px;

#taskbar {
  position: fixed;

  /* photon style */
  box-shadow: inset 0 1px 0 #f5f4f5;
  background-image: linear-gradient(to bottom, #e8e6e8 0, #d1cfd1 100%);


  .startBtn {
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid #C3C3C3;
  }
}

#taskbar.bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: $height;
}

#taskbar.top {
  left: 0;
  top: 0;
  width: 100%;
  height: $height;
}

#taskbar.left {
  left: 0;
  top: 0;
  height: 100%;
  width: $height;
}

#taskbar.right {
  right: 0;
  bottom: 0;
  height: 100%;
  width: $height;
}
